@CHARSET "UTF-8";

#header {
	width: 810px;
	height: 140px;
	margin: auto;
	border-radius: 10px;
	background-image: url("../image/antique.jpg");
	box-shadow: 7px 7px 3px #888888;
}

#logo {
	height: 80px;
	text-align: center;
}

#logo h1 {
	font-size: 60px;
	letter-spacing: 15px;
	color: #552700;
	text-shadow: #804515 2px 4px 2px, #552700 5px 10px 5px;
	text-transform: uppercase;
}

#menuBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #D49A6A;
}

#menuBar li {
	float: left;
	margin: 2px;
	background-color: #FFD1AA;
}

#menuBar li a {
	display: block;
	color: #552700;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menuBar li a:focus {
	background-color: #552700;
	color: #FFD1AA;
}

#menuBar li a:hover {
	background-color: #552700;
	color: #FFD1AA;
}

#siteBody {
	width: 800px;
	min-height: 400px;
	margin: 15px auto;
	padding: 5px;
	border-radius: 10px;
	background-image: url("../image/antique.jpg");
	box-shadow: 7px 7px 3px #888888;
	border-radius: 10px;
}

#news {
	width: 100px;
	height: 200px;
	margin: 5px 5px 5px 5px;
	background: #D49A6A;
	float: right;
}

#news .newsItem {
	widht: 80px;
	padding: auto;
	margin: 2px;
}

#news .newsItemHeader {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #552700;
	color: #FFD1AA;
}

#news .newsItemContent {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	background-color: #FFD1AA;
	color: #552700;
}

#content p {
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	color: #552700;
	font-size: 15px;
	margin: 5px;
	padding: 8px;
}

#content h2 {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	color: #552700;
	font-size: 32px;
	margin: 5px;
	padding: 8px;
}

#content h3 {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	color: #552700;
	font-size: 25px;
	margin: 5px;
	padding: 8px;
}

#content h4 {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	color: #552700;
	font-size: 20px;
	margin: 5px;
	padding: 8px;
}

#content table {
    font-family: "Times New Roman", Times, serif;
    background-color: #552700;
    box-shadow: 7px 7px 3px #888888;
    border-collapse: separate;
    width: 80%;
    margin: auto;
}

#content th {
    border: 1px solid #552700;
    background-color: #FFD1AA;
    font-size: 15px;
    color: #552700;
    text-align: center;
    padding: 8px;
}

#content td {
    border: 1px solid #FFD1AA;
    color: #FFD1AA;
    font-size: 15px;
    text-align: left;
    padding: 8px;
}

img.home {
	width: 80%;
	margin: auto;
	display: block;
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #552700;
}

.subtitle {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	text-align: center;
	color: #552700;
	font-size: 16px;
	text-align: center;
}

#footer {
	width: 800px;
	height: 40px;
	margin: auto;
	border-radius: 10px;
	background-image: url("../image/antique.jpg");
	box-shadow: 7px 7px 3px #888888;
}

#footer p {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	color: #552700;
	font-size: 18px;
	margin: 5px;
	padding: 8px;
}

div.left {
	float: left;
	width: 50%;
	margin: auto;
	display: block;
}

div.right {
	float: right;
	width: 50%;
	margin: auto;
	display: block;
}